@font-face {
    font-family: 'digital_dreamregular';
    src: url('DIGITALDREAM-webfont.eot');
    src: url('DIGITALDREAM-webfont.eot?#iefix') format('embedded-opentype'),
         url('DIGITALDREAM-webfont.woff') format('woff'),
         url('DIGITALDREAM-webfont.ttf') format('truetype'),
         url('DIGITALDREAM-webfont.svg#digital_dreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	min-width: 960px;
  	background-color: transparent;
}

.init{
margin: 0px auto;
    width: 898px;
    height: 698px;
    border-style: solid;
    border-width: 10px;
    border-color: /*#1F1F1F;*/#000000;
    background-image: url(../images/TP_init_new.png);
    background-position-x: -2px;
    background-position-y: -2px;
}

.loaded{
	margin: 0 auto;
    width: 898px;
    height: 698px;
 	border-style:solid;
	border-width: 10px;
	border-color:/*#1F1F1F;*/#000000;
	background-image: url('../images/TP_nastro_new.png');
	background-position-x: -2px;
    background-position-y: -2px;
}

/*REELS*/

#reelsContainer{
	display: inline-block;
	width: 900px;
	height: 400px;
}

#reels{
	display: inline-block;
	width: 600px;
	height: 400px;
}

/*VIDEO*/

#videoContainer{
	display: inline-block;
	
	/*top: 44px;
	position: relative;
	left: 59px;*/
}

#video{
	top: -90px;
	width: 220px;
	height: 180px;
	position: relative;
	left:12px;
	poster: url('../images/logo.png');
}


/*TIME*/

#time{
	
	
	position: relative;
	top:60px;
}


#timer {
	width: 100px;
	top: 11px;
	left: 113px;
	position: relative;
	color: red;
	font-size: 16px ;/*50px;*/
	font-family: 'digital_dreamregular', Arial, sans-serif;
}

#resetTimer{
	position: relative;
	left: 110px;
	top: 22px;
	height: 31px;
	width: 31px;
	cursor: pointer;
}

.resetClick{
	background-image: url('../images/reset.png');
}

#speed{
	position: relative;
	left: 302px;
    top: 27px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.inLineBlock{
	display: inline-block;
}

/* CONTROLS */

.clickcontainer {
	top: 78px;
	left: 107px;
	position: relative;
	display: inline-block;
}

.click {
	/*background-image: url('../images/rw.png');*/
	display: inline-block;
	width: 31px;
	height: 48px;
	cursor: pointer;
}

#rewind {
	margin-left: 1px;
}

.rewindClick{
	background-image: url('../images/rw.png');
	position: relative;
    left: -2.6px;
    bottom: 4.3px;
}

#ffward {
	margin-left: 0px;
}

.ffwardClick{
	background-image: url('../images/ff.png');
	position: relative;
	left: -2px;
    bottom: 4.4px;
}

#play {
	margin-left: 1px;
}

.playClick{
	background-image: url('../images/play.png');
	position: relative;
	left: -0.9px;
    bottom: 4.7px;
}

#pause {
	margin-left: 0px;
}

.stopClick{
	background-image: url('../images/stop.png');
	position: relative;
	left: -1.2px;
    bottom: 4.7px;
}

#eq{
	position: relative;
	left: 194px;
    top: -9px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.posS3 {
	-webkit-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
}

.posS2 {
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}

.posS1 {
	-webkit-transform: rotate(340deg);
	-ms-transform: rotate(340deg);
	transform: rotate(340deg);
}

.posS0 {
	-webkit-transform: rotate(310deg);
	-ms-transform: rotate(310deg);
	transform: rotate(310deg);
}

.posE0 {
	-webkit-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
}

.posE1 {
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}

.posE2 {
	-webkit-transform: rotate(340deg);
	-ms-transform: rotate(340deg);
	transform: rotate(340deg);
}

.posE3 {
	-webkit-transform: rotate(310deg);
	-ms-transform: rotate(310deg);
	transform: rotate(310deg);
}

.posE4 {
	-webkit-transform: rotate(280deg);
	-ms-transform: rotate(280deg);
	transform: rotate(280deg);
}


.knob {
	width: 80px;
	height: 80px;
}

#debug{
	height: 20px;
}

/*Track loader*/
#trackLoader{
	/*position: absolute;
	top: 1400px;
	margin-left: 100px; */
	
	margin: 0 auto;
	
	margin-top: 50px;
	width: 900px;
	height: 50px;
	
}

#songDBTitle{
	margin: 0 auto;
	margin-top: 50px;
	width: 920px;
	height: 50px;
	position: relative;
	width: 920px;
	height: 50px;
	color: white;
	background-color: black; 
	font-variant: small-caps;
	font-size: 30px;
	padding: 0px;
	cursor: pointer;
	background-image: url("../images/goDownWhite.png");
	background-repeat: no-repeat;
	background-position-x: 862px;
    background-position-y: 15px;
	/*border: 10px black solid;*/
}

#loaderTitle{
	width: 200px;
	padding: 10px;
}

#db{
	margin: 0 auto;
	/*margin-top: 50px;*/
	width: 900px;
	
	
	position: relative;
	border-bottom-color: black;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-left-color: black;
	border-left-width: 2px;
	border-left-style: solid;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

#track{
	padding: 10px;
	position:relative;
}

.trackLoaderContainer{
	font-variant:small-caps;
	text-align: center;
	margin-left:10px;
	width: 920px;
	height: 155px;
	/*border-bottom-width: 5px;
	border-top-width:5px; /*5
	border-left-width: 5px;
	border-right-width: 5px;
	border-color: black;
	border-style: solid;*/
	margin-bottom: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

.firstRow{
	height: 40px;
	width: 880px;
	/*border-bottom-width: 1px;
	border-top-width: 0px;
	border-color: black;
	border-style: solid;*/
	
}

.firstR{
	height: 40px;
	float: right;
	width:550px;
	line-height: 40px;
	/*border-right-width: 0px;
	border-color: black;
	border-style: solid;*/
	background-color: silver;
	
}

div.errorLoader{
	width: 290px;
	height: 40px;
	background-color: #990000;
	color:white;
	line-height: 40px;
}

div.delaudio{
	margin-top:5px;
	margin-right:15px;
	width: 105px;
	height: 30px;
	background-color: rgba(120,0,0,0.9);
	line-height:30px;
	color:white;
	cursor: pointer;
	float:right;
	border-radius:2px;
}

div.delvideo{
	margin-top:5px;
	margin-right:15px;
	width: 105px;
	height: 30px;
	background-color: rgba(120,0,0,0.9);
	line-height:30px;
	color:white;
	cursor: pointer;
	float:right;
	border-radius:2px;
	
}

div.delrow{
	width: 40px;
	height: 40px;
	background-color: silver;
	background-image: url("../images/bin.png");
	background-repeat: no-repeat;
    background-size: 40px 40px;
	color:white;
	cursor: pointer;
	line-height: 40px;
	float:right;
}

div.trackLoaderButton{
	width: 290px;
	height: 40px;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
	float:left;
}

div.trackLoaderButton:HOVER{
	font-size: 120%;
}


.audiovideo{
	height: 50px;
	width: 880px;
}

.audio{	
	padding-top:5px;
	padding-bottom:5px;
	width:440px;
	height: 45px;
	float:left;
	background-color:#efefef;
}


.video{
	padding-top:5px;
	padding-bottom:5px;
	width:440px;
	height: 45px;
	float:right;
	background-color:#efefef;
}

.filedesc{
	width:300px;
	float:left;
	line-height:50px;
}


tr.secondRow{
	height: 30px;
}

tr.secondRow td{
	width: 300px;
	/*border-width:1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;*/
	
}

tr.thirdRow{
	height: 30px;
}

tr.thirdRow td{
	width: 300px;
	
	/*border-width:1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;*/
}

/*import export*/
#importTitle{
	margin: 0 auto;
	margin-top: 20px;
	width: 920px;
	height: 50px;
	position: relative;
	width: 920px;
	height: 50px;
	color: white;
	background-color: black; 
	font-variant: small-caps;
	font-size: 30px;
	padding: 0px;
	cursor: pointer;
	background-image: url("../images/goDownWhite.png");
	background-repeat: no-repeat;
	background-position-x: 862px;
    background-position-y: 15px;
	/*border: 10px black solid;*/
}
#importTitleLabel{
	width: 400px;
	padding: 10px;
}
#importContent{
    margin: 0 auto;
    width: 900px;
    position: relative;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
#singleTabTitle{
	width: 890px;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	background-color: white;
	background-repeat: no-repeat;
	font-variant: small-caps;
	font-size: 15px;
}

#singleTabContent{
	width: 890px;
	display: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
#jsonTabTitle{
	width: 890px;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	background-color: white;
	background-repeat: no-repeat;
	font-variant: small-caps;
	font-size: 15px;
}
#jsonTabContent{
	width: 890px;
	display: none;
	text-align:center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.openSubPart {
    margin-top: 15px;
    margin-left: 840px;
    width: 37px;
    height: 20px;
    background-image: url("../images/goDownBlack.png");
}

.titleSubMenuDiv {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.td100 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#singleTable{
	margin:auto;
	margin-top:15px;
}

#exportjson{
	font-variant:small-caps;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
}

#exportjson:HOVER{
	font-size: 90%;
}


#resetdb{
	font-variant:small-caps;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
}

#resetdb:HOVER{
	font-size: 90%;
}

#exportfiles{
	font-variant:small-caps;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
}

#exportfiles:HOVER{
	font-size: 90%;
}

#singlesubmit{
	font-variant:small-caps;
	background-color: black;
	color:white;
	cursor: pointer;
	line-height: 40px;
}

#singlesubmit:HOVER{
	font-size: 90%;
}

#uploadjson{
	font-variant:small-caps;
	background-color: black;
	color:white;
	line-height: 40px;
	
}

#jsonbutton{
	font-variant:small-caps;
	background-color: silver;
	color:black;
	cursor: pointer;
	line-height: 40px;
	width:100%;
}

#jsonbutton:HOVER{
	font-size: 90%;
}
.jsontd{
	text-align:center;
}

.formtable{
	text-align: left;
}

.importexportdiv{
	width:80%;
	margin:auto;
	margin-top:20px;
}

.w100{
	width:100%;
	margin:0;
	padding:0;
}
#upan {
	display:none;
    background-color: rgba(255,255,255,0.6);
	text-align:center;
    width: 898px;
    height: 698px;
}
#uploading {
	position:relative;
	top:200px;
	left:300px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-image: url("../images/bobina.png");
    background-repeat: no-repeat;
    background-size: 300px 300px;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
#uploadingText {
	position:relative;
	font-size:200%;
	top:250px;
	left:300px;
    text-align: center;
    width: 300px;
	font-variant:small-caps;
	background-color:rgba(0,0,0,0.8);
	color:white;
	border-radius:5px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#notracks{
	text-align:center;
	display:none;
}